In [2]:
import sqlite3
import pandas as pd

# 1. Connect to SQLite DB and read customers table
conn = sqlite3.connect('chinook.db')
df_customers = pd.read_sql_query("SELECT * FROM customers", conn)
print("First 10 rows of customers table:")
df_customers.head(10)

First 10 rows of customers table:

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
6,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
7,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
8,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4

In [3]:
df_iris = pd.read_json('iris.json')
print("\nIris dataset shape:", df_iris.shape)
print("Iris dataset columns:", df_iris.columns.tolist())

Iris dataset shape: (150, 5)
Iris dataset columns: ['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species']

In [4]:
df_titanic = pd.read_excel('titanic.xlsx')
print("\nFirst 5 rows of Titanic dataset:")
print(df_titanic.head())

First 5 rows of Titanic dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [7]:
df_movie = pd.read_csv('movie.csv')
print("\nRandom 10 rows from movie dataset:")
df_movie.sample(10)

Random 10 rows from movie dataset:

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
2592,Color,Barry Levinson,130.0,97.0,272.0,957.0,Kirsten Dunst,22000.0,43022524.0,Comedy|Drama,...,218.0,English,USA,R,15000000.0,1997.0,4000.0,7.1,1.85,12000
1276,Color,Joseph Kahn,86.0,84.0,33.0,1000.0,Jay Hernandez,1000.0,21176322.0,Action|Comedy|Crime,...,207.0,English,USA,PG-13,40000000.0,2004.0,1000.0,4.0,2.35,0
58,Color,Andrew Stanton,421.0,98.0,475.0,522.0,Fred Willard,1000.0,223806889.0,Adventure|Animation|Family|Sci-Fi,...,1043.0,English,USA,G,180000000.0,2008.0,729.0,8.4,2.35,16000
3547,Color,Raymond De Felitta,149.0,104.0,20.0,130.0,Curtiss Cook,3000.0,6670712.0,Comedy|Drama,...,101.0,English,USA,PG-13,6000000.0,2009.0,591.0,7.4,1.85,0
4709,Color,Yorgos Lanthimos,211.0,94.0,252.0,14.0,Mary Tsoni,47.0,110197.0,Drama|Thriller,...,170.0,Greek,Greece,Unrated,NaN,2009.0,37.0,7.3,2.35,13000
4448,Color,Martin Scorsese,129.0,122.0,17000.0,184.0,Keith Richards,543.0,5355376.0,Biography|Documentary|Music,...,67.0,English,USA,PG-13,NaN,2008.0,426.0,7.2,1.85,0
336,Color,Peter Jackson,294.0,172.0,0.0,857.0,Orlando Bloom,16000.0,340478898.0,Action|Adventure|Drama|Fantasy,...,2417.0,English,USA,PG-13,94000000.0,2002.0,5000.0,8.7,2.35,10000
3572,Color,Peter Cattaneo,47.0,107.0,11.0,419.0,Olivia Williams,773.0,54606.0,Comedy|Crime|Romance,...,34.0,English,UK,PG-13,6000000.0,2001.0,766.0,6.2,2.35,30
2772,Color,Kenneth Lonergan,116.0,186.0,50.0,338.0,Kieran Culkin,13000.0,46495.0,Drama,...,119.0,English,USA,R,14000000.0,2011.0,1000.0,6.5,1.85,0
3820,Color,Mike Figgis,123.0,111.0,81.0,687.0,Valeria Golino,12000.0,31968347.0,Drama|Romance,...,286.0,English,USA,R,3600000.0,1995.0,898.0,7.6,1.66,0

In [8]:
import pandas as pd

# Load data files (adjust filenames if needed)
df_iris = pd.read_json('iris.json')
df_titanic = pd.read_excel('titanic.xlsx')
df_movie = pd.read_csv('movie.csv')

In [15]:
df_iris.columns = [col.lower() for col in df_iris.columns]
iris_selected = df_iris[['sepallength', 'sepalwidth']]
iris_selected.head()

   sepallength  sepalwidth
0          5.1         3.5
1          4.9         3.0
2          4.7         3.2
3          4.6         3.1
4          5.0         3.6

In [21]:
# Assuming you already loaded the titanic.xlsx file into a DataFrame named df_titanic

# Filter passengers with age above 30
age_above_30 = df_titanic[df_titanic['Age'] > 30]

# Count number of male and female passengers in that filtered data
gender_counts = age_above_30['Sex'].value_counts()

print(gender_counts)

Sex
male      202
female    103
Name: count, dtype: int64

In [22]:
# Assuming your movie.csv is loaded into df_movie

# Filter rows where duration > 120
long_movies = df_movie[df_movie['duration'] > 120]

# Sort by director_facebook_likes descending
sorted_movies = long_movies.sort_values(by='director_facebook_likes', ascending=False)

sorted_movies.head(10)  # Show top 10 rows

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
96,Color,Christopher Nolan,712.0,169.0,22000.0,6000.0,Anne Hathaway,11000.0,187991439.0,Adventure|Drama|Sci-Fi,...,2725.0,English,USA,PG-13,165000000.0,2014.0,11000.0,8.6,2.35,349000
97,Color,Christopher Nolan,642.0,148.0,22000.0,23000.0,Tom Hardy,29000.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,...,2803.0,English,USA,PG-13,160000000.0,2010.0,27000.0,8.8,2.35,175000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
66,Color,Christopher Nolan,645.0,152.0,22000.0,11000.0,Heath Ledger,23000.0,533316061.0,Action|Crime|Drama|Thriller,...,4667.0,English,USA,PG-13,185000000.0,2008.0,13000.0,9.0,2.35,37000
1222,Color,Christopher Nolan,341.0,130.0,22000.0,19000.0,Hugh Jackman,23000.0,53082743.0,Drama|Mystery|Sci-Fi|Thriller,...,1100.0,English,USA,PG-13,40000000.0,2006.0,20000.0,8.5,2.35,49000
120,Color,Christopher Nolan,478.0,128.0,22000.0,11000.0,Liam Neeson,23000.0,205343774.0,Action|Adventure,...,2685.0,English,USA,PG-13,150000000.0,2005.0,14000.0,8.3,2.35,15000
707,Color,David Fincher,568.0,149.0,21000.0,625.0,Sela Ward,835.0,167735396.0,Crime|Drama|Mystery|Thriller,...,1127.0,English,USA,R,61000000.0,2014.0,812.0,8.1,2.35,146000
1584,Color,David Fincher,216.0,127.0,21000.0,360.0,Brad Pitt,11000.0,100125340.0,Crime|Drama|Mystery|Thriller,...,1080.0,English,USA,R,33000000.0,1995.0,11000.0,8.6,2.35,39000
428,Color,David Fincher,377.0,162.0,21000.0,495.0,Jake Gyllenhaal,21000.0,33048353.0,Crime|Drama|History|Mystery|Thriller,...,589.0,English,USA,R,65000000.0,2007.0,15000.0,7.7,2.35,12000
675,Color,David Fincher,315.0,151.0,21000.0,637.0,Meat Loaf,11000.0,37023395.0,Drama,...,2968.0,English,USA,R,63000000.0,1999.0,783.0,8.8,2.35,48000

In [23]:
iris_stats = df_iris.describe().loc[['mean', '50%', 'std']]
iris_stats.rename(index={'50%': 'median'}, inplace=True)
print("Iris statistics:")
print(iris_stats)

Iris statistics:
        sepallength  sepalwidth  petallength  petalwidth
mean       5.843333    3.057333     3.758000    1.199333
median     5.800000    3.000000     4.350000    1.300000
std        0.828066    0.435866     1.765298    0.762238

In [26]:
age_min = df_titanic['Age'].min()
age_max = df_titanic['Age'].max()
age_sum = df_titanic['Age'].sum()
print("\nTitanic passenger age stats:")
print(f"Min age: {age_min}")
print(f"Max age: {age_max}")
print(f"Sum of ages: {age_sum}")

Titanic passenger age stats:
Min age: 0.42
Max age: 80.0
Sum of ages: 21205.17

In [27]:
director_likes = df_movie.groupby('director_name')['director_facebook_likes'].sum()
top_director = director_likes.idxmax()
top_likes = director_likes.max()

print(f"\nDirector with highest total Facebook likes: {top_director} ({top_likes} likes)")

# Find 5 longest movies and their directors
longest_movies = df_movie.nlargest(5, 'duration')[['movie_title', 'director_name', 'duration']]
print("\nTop 5 longest movies and their directors:")
print(longest_movies)

Director with highest total Facebook likes: Steven Spielberg (364000.0 likes)

Top 5 longest movies and their directors:
                   movie_title        director_name  duration
1694                   Trapped                  NaN     511.0
2436                    Carlos                  NaN     334.0
1487       Blood In, Blood Out      Taylor Hackford     330.0
1134             Heaven's Gate       Michael Cimino     325.0
3254  The Legend of Suriyothai  Chatrichalerm Yukol     300.0